extends layout

block content
    .inner
        h2 Eddit your account
        form.form(action="/account" method="POST")
            label(for="name") Name
            input(type="text" name="name" value=user.name)
            label(for="email") Email
            input(type="text" name="email" value=user.email)
            a.nav__link.logout-button(href="/logout")
                span Logout
            input.button.update-account(type="submit" value="update my account")
            
        