extends layout

include mixins/_questCard
include mixins/_pagination


block content
    .inner
        h2 #{title}
        .quests
            each quest in quests
                +questCard(quest)

        +pagination(page, pages, count, '/bookmarked')
