extends layout

include mixins/_questCard
include mixins/_pagination


block content
    .inner
        h2 #{title}
        .quests
            each quest, index in quests
                +questCard(quest, index)

        +pagination(page, pages, count, '/bookmarked')
