extends layout

include mixins/_questCard
include mixins/_questCardMobile
include mixins/_pagination


block content
    .inner     
        if isMobile
            h2.quests--layout-option #{title}
            .quests.quests--layout-option
                each quest, index in quests
                    +questCardMobile(quest, index)
            
        else
            h2 #{title}
            .quests
                each quest, index in quests
                    +questCard(quest, index)
            
            

        +pagination(page, pages, count, isMobile, '/quests/page')
