mixin completedQuestForm(quest)
    form(action=`/completedQuest/${quest._id}` method="POST" enctype="multipart/form-data")
        textarea(name="text" placeholder="Reminder")

        .reviewer__meta
            .reviewer__stars
            input.button(type="submit" value="Submit review")

            label(for="photo") Photo
            input(type="file" name="photo" id="photo" accept="image/png, image/jpeg")

        
        