@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.mobile {
  .flash {
    position: absolute;
    top: 50px;
    width: calc(100% - 24px);
  }
}

.flash {
  box-shadow: 7px 5px 10px rgba($color-black, .2);
  margin: 12px 12px 0 0;
  color: $color-main;  
  font-weight: 700;  
  padding: 2rem;
  position: relative;
  z-index: 1;
  display: flex;
  
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);

  &-messages {
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
  }
  

  a {
    color: $color-black;
    text-decoration: underline;
  }
  & + .flash {
    animation-delay: 0.55s;
    & + .flash {
      animation-delay: 0.6s;
    }
  }
  &__text {
    flex: 1;
    padding: 0 30px;
  }
  &__remove {
    background: none;
    border:0;
    &:hover {
      color: $yellow;
    }
  }

  &--success {
    background: $color-cta;
  }
  &--error {
    background: #fd4848;
    color: white;
    
  }
  &--info {
    background: rgb(241, 241, 66);
  }
  p {
    margin: 0;
  }
}
