@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.flash {
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  margin-bottom: 2rem;
  color: $color-main;  
  font-weight: 700;  
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  display: flex;
  text-shadow: 1px 1px 6px rgba($color-black, .4);
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);

  a {
    color: $color-black;
    text-decoration: underline;
  }
  & + .flash {
    animation-delay: 0.55s;
    & + .flash {
      animation-delay: 0.6s;
    }
  }
  &__text {
    flex: 1;
  }
  &__remove {
    background: none;
    border:0;
    &:hover {
      color: $yellow;
    }
  }

  &--success {
    background: $color-cta;
  }
  &--error {
    background: #fd4848;
    color: white;
    
  }
  &--info {
    background: rgb(241, 241, 66);
  }
  p {
    margin: 0;
  }
}
