input, textarea {
    width: 100%;
    max-width: 900px;
    padding: 10px;
    color: #dddddd;
    background: #2f1a50;
    border: none;
    border-left: 1px solid rgba(lighten($color-main, 20), .5);
    border-top: 1px solid rgba(lighten($color-main, 20), .5);
    box-shadow: 5px 5px 32px rgba($color-black, .2);
    outline: none;

    &.button {
      max-width: 300px;
      font-weight: bold;
      margin-top: 24px;
      display: block;
      @include button-style($color-main, $color-cta);
    }

  &.input {
    &--error {
      border-color: red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}

form {
  @media screen and(max-width: 950px){
    padding: 0 24px;
  }
}

input.button.update-account {
  display: inline-block;
  margin-top: 24px;
  margin-left: 12px;
  border: none;
  @include button-style($color-white, lighten($color-main, 5));
  @media screen and(max-width: 669px) {
    margin: 24px 0 0 0;
    max-width: 100%;
  }
}

.logout-button {
    display: inline-block;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    font-weight: bold;
    text-align: center;
    @include button-style($color-white, lighten($color-main, 5));

    @media screen and(max-width: 669px) {
      margin: 24px 0 0 0;
      max-width: 100%;
    }
}

.form {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  box-shadow: $grad;
  
  & + .form {
    margin-top: 4rem;
  }

  h2 {
    margin: 0;
    font-size: 5rem;
    padding-bottom: 2rem;
  }
}

.hiddenForm {
  display: inherit;
  height: 0;
  padding: 0;
  opacity: 0;
}

.photo-label {
  input {
    display: block;
  }
}

::-webkit-input-placeholder {
  color: rgba($color-white, .5);
}
::-moz-placeholder {
  color: rgba($color-white, .5);
}
:-ms-input-placeholder {
  color: rgba($color-white, .5);
}
:-moz-placeholder {
  color: rgba($color-white, .5);
}