html {
  font-size: 10px;
}

body {
  background:$color-main;
  // background-image: radial-gradient(farthest-corner at 40px 40px,
  //     lighten($color-grey, 10) 0%, darken($color-grey, 10) 100%);
  min-height: 100vh;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.inner {
  width: 100vw;

  @media screen and(max-width: 1300px) {
    width: auto;
  }
}

.top {
  height: 70px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100vw;
  margin-left: 24px;
  background: $color-main;
  //margin-top: 40px;
  //transition: all .25s ease;    
  
  
  &__background-map {
    &.single__hero {
      position: absolute;
      width: calc(100% + 24px);
      margin-left: -24px;
      overflow: hidden;

      &--map {
        @media (min-width: 900px) {
          margin-top: 7px;
        }
      }
      
    }
  }
  
  @media screen and(max-width: 1300px) {
    
    width: 100vw;
  }

  @media screen and(max-width: 950px) {
    margin-left: auto;
    width: calc(100vw - 24px);
  }

  &__search {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
  }
}

