.pagination {
  display: flex;
  align-items: baseline;

  &__next {
    margin: 0 24px;
    a:after {
      margin-left: 1rem;
      content: '→'
    }
  }
  &__prev {
    margin: 0 24px;
    a:before {
      margin-right: 1rem;
      content: '←'
    }
  }

}
