.quests {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    max-width: 900px;

    @media all and (max-width: 950px) {
      margin: 0 24px;
    }
  }
}

.quest {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: $color-main;
  margin-bottom: 24px;
  width: 100%;
  min-height: 236px;
  box-shadow: 11px 11px 35px rgba($color-black, .8);
  color: $color-white;


  &:hover {
    background: lighten($color-main, 4);
    box-shadow: 20px 20px 40px rgba($color-black, .6);
  }

  a {
    color: $color-white;
  }
  
  &__hero {
    position: relative;
    display: block;
    width: 55%; 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    @media all and (max-width: 727px) {
      width: 100%;
      height: 240px;
    }

    @media all and (max-width: 445px) {
      height: 150px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 101%;
      height: 101%;
      background: $color-vertical-overlay;
      opacity: .6;
    }
  }

  &__actions {
    position: absolute;

    button {
      color: lighten($color-main, 30);
      font-size: 3rem;
      text-shadow: 1px 1px 1px rgba(0,0,0,.4);
      cursor: pointer;

      &.heart__button--hearted {
        color: lighten($color-main, 30);
      }
    }
  }

  &__details {
    width: 45%;
    padding: 2rem;

    @media all and (max-width: 727px) {
      width: 100%;
      margin-top: -50px; 
    }

    .title {
      margin-left: -110px;
      text-shadow: 5px 5px 10px rgba($color-black, .8);

      @media all and (max-width: 900px) {
        margin-left: 0;
      }
    }
  }
}

.quest {
  &__action {
    display: inline-block;

    a > p {
      display: inline-block;
      width: 100%;
      max-width: 190px;
      padding: 17px 68px;
      margin: 0 30px 30px;
      text-align: center;
      font-weight: 600;
      border: none;

      @include button-style($color-main, $color-cta);
    }
  }
}
