h2.quests--layout-option  {
  @media screen and (max-width: 900px) {
    margin: 12px;
    overflow: hidden;
  }
}

.quests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 24px);
  justify-content: space-between;
  @media all and (max-width: 950px) {
    width: 100%;
  }
  
  &--layout-option {
    margin-top: 60vh;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

      &.quests {      
        a {
          
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(5),
          &:last-child {
            min-width: 53%;
            width: 53%;
            margin: 0 6px;
            .quest {
              min-height: 190px;
              border-radius: 7px;
              overflow: hidden;

             &__hero {
               width: 100%;
               height: 190px;
             }
             &__details {
                padding: 0 12px;
                width: 100%;
                overflow: hidden;
                position: absolute;
                width: auto;
                bottom: 6px;
                left: 0px;
                border-radius: 7px;

                .title {
                  color: $color-cta;
                }
             }

             &__info {
               display: none;
             }
            }
          }
          &:first-child {
            position: absolute;
            top: 101px;
            left: 0;
            margin-left: 1px;
            height: 60vh;
            background: red;
            border: none;

            .quest {
              height: 100%;
              border: none;

              &__hero {
                width: 100%;
                height: 55vh;
                position: relative;

                &:before,
                &:after {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: -1px;
                  height: 185px;
                  width: 100%;
                  top: auto;
                  background: linear-gradient(to bottom, rgba(42, 22, 75, 0),rgba(42, 22, 75, .7) 60%, #2a164b);
                  opacity: 1;
                  z-index: 99;
                }

                &:after {
                  bottom: auto;
                  top: -1px;
                  background: linear-gradient(to top, rgba(42, 22, 75, 0),rgba(42, 22, 75, .7) 60%, #2a164b);
                }
              }
            }
          }
        }

        a:nth-child(2) {
          margin-left: 33%;
        }
      }
  }

  a {
    max-width: 900px;

    &:first-child {
      width: 100%;
      min-width: 100%;
      max-height: 630px;
      height: calc(.4*100vw);
      margin-bottom: 24px;

      @media all and (max-width: 950px) {
        min-width: calc(100% - 48px);
      }
      
      @media (max-width: 625px) {
        min-width: calc(100% - 24px);
        margin: 0 12px 24px 12px;
      }

      .quest {
        min-height: auto;
        max-height: 630px;
        height: calc(.4*100vw);

        &__hero {
          width: 75%;

          @media all and (max-width: 727px) {
            height: auto;
          }
          @media all and (max-width: 625px) {
            width: 55%;
          }
        }

        &__details {
          width: 25%;
          display: flex;
          flex-direction: column;

          @media all and (max-width: 727px) {
            margin-top: 0;
          }
          @media all and (max-width: 625px) {
            width: 45%;
          }
        }
      }
    }
    
    &:nth-child(2),
    &:nth-child(3) {
      width: calc(50% - 12px);
      @media screen and(min-width: 1627px){
        width: calc(33% - 12px);
      }
      @media screen and(max-width: 1260px){
        max-height: 300px;
      }

      @media all and (max-width: 625px) {
        max-height: none;
      }
     
      .quest {
        &__hero {
          @media screen and(max-width: 1260px){
            width: 45%;              
          }
          @media all and (max-width: 625px) {
            width: 100%;
            height: 150px;
          }
        }
        &__info {
          @media all and (max-width: 625px) {
            max-height: 120px;
          }
        }
        &__details {
          @media screen and(max-width: 1260px){
            width: 55%;
          }
          @media all and (max-width: 625px) {
            width: 100%;
          }
        }
        &__info {
          @media screen and(max-width: 1260px){
            overflow: hidden;
          }
          
        }
      }
    }
    &:nth-child(2):last-child {
      width: 100%;
      max-width: 100%;
      @media screen and(max-width: 950px){
        width: calc(100% - 48px);
        max-width: calc(100% - 48px);        
      }
      
      @media all and (max-width: 625px) {
        width: calc(100% - 24px);
        max-width: calc(100% - 24px);  
      }
    }
    &:nth-child(3):last-child {
      width: calc(66% - 12px);
      max-width: calc(66% - 12px);
      
      @media screen and(max-width:1627px){
        width: calc(50% - 12px);
        max-width: calc(50% - 12px);
      }

      @media (max-width: 950px) {
          width: calc(50% - 36px);
          margin: 0 24px 0 12px;
      }

    }
    @media all and (max-width: 950px) {
      &:nth-child(2) {
        width: calc(50% - 36px);
        margin: 0 12px 0 24px;
      }
  
      &:nth-child(3) {
        width: calc(50% - 36px);
        margin: 0 24px 0 12px;
      }
      
    }

    @media all and (max-width: 625px) {
      &:nth-child(2) {
        width: calc(50% - 18px);
        margin: 0 6px 0 12px;
      }
  
      &:nth-child(3) {
        width: calc(50% - 18px);
        margin: 0 12px 0 6px;
      }
      
    }

    
    
    &:nth-child(4) {
      width: 100%;
      max-width: 100%;

      @media screen and(min-width: 1627px){
        width: calc(33% - 12px);
      }

      @media all and (max-width: 625px) {
        width: calc(100% - 24px);
        margin: 0 12px;
      }

      .quest {
        &__hero,
        &__details {
          width: 50%;
        }

        &__hero {
          @media all and (max-width: 727px) {
            height: auto;
          }
        }

        &__details {
          @media all and (max-width: 727px) {
            margin-top: 0;
          }
        }
      }
    }

    &:nth-child(5),
    &:nth-child(6) {
      width: calc(50% - 12px);
      max-width: calc(50% - 12px);

      @media screen and(max-width: 1260px){
        max-height: 300px;
        .quest {
          &__hero {
            width: 45%;
          }

          &__details {
            width: 55%;
          }
          &__info {
            overflow: hidden;
          }
        }
      }
      @media all and (max-width: 625px) {
        max-height: none;
      }

      .quest {
        &__hero {
          @media screen and(max-width: 1260px){
            width: 45%;              
          }
          @media all and (max-width: 625px) {
            width: 100%;
            height: 150px;
          }
        }
        &__info {
          @media all and (max-width: 625px) {
            max-height: 120px;
          }
        }
        &__details {
          @media screen and(max-width: 1260px){
            width: 55%;
          }
          @media all and (max-width: 625px) {
            width: 100%;
          }
        }
        &__info {
          @media screen and(max-width: 1260px){
            overflow: hidden;
          }
          
        }
      }
    }

    &:nth-child(5):last-child {
      width: 100%;
      max-width: 100%;
      @media screen and(max-width: 950px){
        width: calc(100% - 48px);
        max-width: calc(100% - 48px);        
      }
    }

    @media all and (max-width: 950px) {
      &:nth-child(5) {
        width: calc(50% - 36px);
        margin: 0 12px 0 24px;
      }
  
      &:nth-child(6) {
        width: calc(50% - 36px);
        margin: 0 24px 0 12px;
      }
      
    }
    @media all and (max-width: 625px) {
      &:nth-child(5) {
        width: calc(50% - 18px);
        margin: 0 6px 0 12px;
      }
  
      &:nth-child(6) {
        width: calc(50% - 18px);
        margin: 0 12px 0 6px;
      }
      
    }
    @media all and (max-width: 950px) {
      margin: 0 24px;
    }
  }
}


.quest {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: $color-main;
  margin-bottom: 24px;
  width: 100%;
  min-height: 236px;
  border: 1px solid lighten($color-main, 10);
  color: $color-white;
  height: calc(100% - 24px);
  transition: transform .25s ease;

  &:hover {
    background: lighten($color-main, 4);
    box-shadow: 20px 20px 40px rgba($color-black, .6);
    transform: scale(1.025);
    transition: transform .25s ease;
  
    .quest__info {
      &:after {
        background: linear-gradient(rgba(lighten($color-main, 4), 0) 60%, lighten($color-main, 4));
      }
    }
  }

  &__info {
    position: relative;
    flex-grow: 1;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 34px;
      background: linear-gradient(rgba($color-main, 0) 60%, $color-main);
    }
      p {
        @media (max-width: 900px) {
          line-height: 2rem;
          font-size: 1.4rem;
        }
        @media (max-width: 625px) {
          line-height: 1.9rem;
          font-size: 1.4rem;
        }
      }    
  }

  a {
    color: $color-white;
  }
  
  &__hero {
    position: relative;
    display: block;
    width: 55%; 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    @media all and (max-width: 727px) {
      width: 100%;
    }

    @media all and (max-width: 445px) {
      height: 150px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 101%;
      height: 101%;
      //background: $color-vertical-overlay;
      opacity: .6;
    }
  }

  &__actions {
    position: absolute;

    button {
      color: lighten($color-main, 30);
      font-size: 3rem;
      text-shadow: 1px 1px 1px rgba(0,0,0,.4);
      cursor: pointer;

      &.heart__button--hearted {
        color: lighten($color-main, 30);
      }
    }
  }

  &__details {
    width: 45%;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    @media all and (max-width: 727px) {
      width: 100%;
      padding: 1rem; 
    }

    .title {
      margin-left: -9px;
      text-shadow: 5px 5px 10px rgba($color-black, .8);


      @media all and (max-width: 900px) {
        margin-left: 0;
        font-size: 2rem;
      }
      @media all and (max-width: 625px) {
        margin-left: 0;
        font-size: 1.9rem;
      }
    }
  }
}

.quest {
  &__action {
    display: inline-block;

    a > p {
      display: inline-block;
      width: 100%;
      max-width: 190px;
      padding: 17px 68px;
      margin: 0 30px 30px;
      text-align: center;
      font-weight: 600;
      border: none;

      @include button-style($color-main, $color-cta);
    }
  }
}
