
#searchForm {
  margin: 50px 0;
  height: 63px;

  @media screen and(max-width: 950px) {
    margin: 25px;
    width: calc(100% - 50px);
  }
}

.city {
  &-search {
    opacity: 0;
    height: 0;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 5px 5px 15px rgba($color-black, .7);
    transition: all .5s ease;
    pointer-events: none;

    a {
      color: $color-cta;    
    }

    &__visible {
      opacity: 1;
      height: auto;
      transition: all .5s ease;
      pointer-events: auto;
      margin: 0 25px 25px 25px;
    }
  }

  &__heading {
    color: $color-white;
    text-shadow: 1px 1px 0 $color-main, 
                 2px 2px 0 lighten($color-main, 3), 
                 3px 3px 0 lighten($color-main, 6), 
                 4px 4px 0 lighten($color-main, 9), 
                 5px 5px 0 lighten($color-main, 12),
                 6px 6px 6px rgba($color-main, .4), 
                 7px 7px 7px rgba($color-main, .3), 
                 8px 8px 8px rgba($color-main, .2), 
                 9px 9px 9px rgba($color-main, .1);

    @media screen and (max-width:950px) {
      margin-left: 24px;
    }
  }
  
 
  &__link {
    &.tag__link {

      &:after {
        color: rgba($color-main, .3);
      }

      &:hover,
      &--active {
        text-shadow: none;

        &:after {
          color: rgba($color-main, .3);
        }
      }
    } 
  }
}

.tags.tags--city-page {
  @media screen and (max-width:950px) {
    margin-left: 24px;
    width: calc(100% - 48px);
  }

}