.single {
  &__hero {
    position: relative;
    height: 60vh;
    height: calc((7/13)*90vw);
    max-height: 80vh;
    margin-left: -24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 53px;

    @media screen and(min-width: 900px) {
      margin-top: 8px;
    }

    @media all and (max-width: 900px) {
      top: -2px;
      height: 60vh;
      
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(42, 22, 75, 0), rgba(42, 22, 75, 0.4) 75%, #2a164b 87%);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 10%;
      width: 100%;
      background: rgb(42, 22, 75);
      box-shadow: -5px -38px 94px #2a164b;
    }
  }

  &__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: -62px;
    z-index: 999;
  }
  &__user-options,
  &__details {
      width: 100%;
  }

  &__user-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;

    @media screen and (max-width: 500px) {
      justify-content: space-around;
    }
  }

  &__heart {
    
    &.heart__button {
      
      margin-right: 24px;
      padding: 0 12px;
      cursor: pointer;
      transition: all .25s ease;

      @media screen and (max-width: 500px) {
        margin-right: 0;
      }

      .heart__button--hearted--inactive,
      .heart__button--hearted--active {
        color: $color-cta;
        font-size: 3rem;

        .heart__text {
          margin-left: 0;
          font-size: 1.2rem;
        }
      }
    }
  }

  &__quick-info {
    display: flex;
    flex-wrap: wrap;

    span:last-child {
      margin-bottom: 0;
    }

    &__item {
      position: relative;
      display: flex;
      margin: 0 12px;
      padding: 0 3px;
      color: $color-white;
      font-size: 12px;
      font-style: italic;
      min-height: 15px;
      z-index: 8;
      overflow: hidden;
    }
  }

  &__description {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 0 24px;

    &--expanded {
      &.single__description {
        max-height: none;
        padding-bottom: 60px;
        overflow: hidden;
        transition: all .25s ease;
      }
    }

    @media screen and (max-width: 950px) {
      max-height: 300px;
      overflow: hidden;

    }

    &-toggle {
      position: absolute;
      width: 100%;
      height: 60px;
      background: linear-gradient(to bottom, rgba(42, 22, 75, 0), #2a164b );
      left: 0;
      bottom: 0;
      cursor: pointer;

      &:after {
        content: '⌄';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 30px;
        width: 30px;
        background: $color-white;
        border-radius: 50%;
        transform: rotate(0) translateX(-50%);
        transform-origin: center left;
        color: $color-main;
        font-size: 35px;
        line-height: 6px;
        text-align: center;
        transform-style: preserve-3d;

      }
      &--expanded {
        &:after {
          transform-origin: 25% 25%;
          transform: rotate(180deg) translateX(-50%);
        }
      }
      @media screen and (min-width: 950px) {
        display: none;
      }
    }

    @media all and (max-width: 950px) {
      padding: 0 24px
    }
  }

  &__tag {
    margin: 0 0 12px 12px;
    .tag__link {
      &:hover {
        background: $color-white;
        color: $color-main;
        box-shadow: 5px 5px 15px rgba($color-black, .5);
        transform: scale(1.1);
      }
    }
  }
 }

#map {
  height: 500px;
}

.title{
  &--single {
    display: flex;
    align-items: flex-end;
    height: 100%;
    max-width: 1000px;
    padding: 24px;
    font-size: 6rem;
    margin-top: -9rem;
    text-align: center;

    a {
      margin-bottom: 60px;
      color: $color-white;
      text-shadow: 5px 5px 10px rgba(24, 24, 24, 0.8);

      @media all and (max-width: 900px) {
        margin-left: 0;
        font-size: 4rem;
      }
    }
  }
}
