.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.tag {
  position: relative;
  display: block;
  margin-right: 1rem;
  z-index: 2;
  
  &__choice {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: auto;
      right: -1.5rem;
      margin-right: -1rem;
      position: relative;
      z-index: 2;
      opacity: 0;
      & + label {
        padding: 1rem 1rem 1rem 2rem;
        font-weight: 800;
        cursor: pointer;
      }
      &:checked + label {
        position: relative;
        text-shadow: 4px 3px 8px $color-black;

        &:after {
          content: '#';
          position: absolute;
          left: 1px;
          top: -20px;
          width: 30px;
          height: 30px;
          font-size: 5rem;
          color: rgba(221, 221, 221, 0.3);
          font-weight: 800;
          text-shadow: none;
        }
      }
    }
  }
  &__link {
    background: $color-white;
    color: $color-main;
    display: flex;
    padding: 0 6px;
    position: relative;
    font-weight: 800;
    transition: all .25s ease;

    &:hover {
      background: $color-main;
      color: $color-white;
      box-shadow: 6px 6px 15px rgba($color-black, .5);
      transition: all .25s ease;
    }
    
    &--active {
      background:$color-main;
      color:$color-white;
      text-shadow: 4px 3px 8px $color-black;
    }
  }
  &__text {
    padding: 1rem 1rem;
    display: block;
    position: relative;
    z-index: 99;
  }

  &__count {
    padding: 1rem 0rem;
    //background: white;
    margin-right: -1px; /* ugh */
    background-clip: padding-box;
  }
}
